.MuiTableCell-head{
    background-color: #e4e4e4;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 600 !important;
}

.react-datepicker-popper{
    z-index: 9 !important;
}