.MuiTableCell-head {
    background-color: #e4e4e4 !important;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 600 !important;
}

.react-datepicker-popper {
    z-index: 9 !important;
}

.fs-16 {
    font-size: 16px;
}

.fs-10 {
    font-size: 10px;
}

.search_icon .MuiInputBase-root {
    flex-direction: row-reverse;
    border-radius: 30px !important;
}

.search_icon .MuiInputBase-root input {
    font-size: 14px;
    text-transform: capitalize;
}

.custom_width{min-width:120px}
.w-16{width: 16px !important;}
.canteenKid{border-radius: 50%;border:5px solid #f2b80b}
.quantityBox{width:20px;display: inline-block;text-align: center;}