@import url('./assets/css/styles.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-size: 14px !important;
    font-family: "Poppins", serif !important;
    background: #f9fafc !important;
}

table,
th,
td,
input,
select,
button,
p {
    font-family: "Poppins", serif !important;
}

.main_header {
    transition: all 0.1s ease;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.05);
}

.sidebar {
    max-height: calc(100vh);
    min-height: calc(100vh);
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    white-space: nowrap;
    background-color: #202947;
    overflow: auto;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.scoll_dev {
    max-height: calc(100vh - 200px);
}

.content-container {
    overflow: auto;
    max-height: calc(100vh - 0px);
    padding-bottom: 20px;
}

.sidebar nav {
    background-color: #202947;
}

.Sidebar_list a {
    text-decoration: none;
    color: #757575;
}

.Sidebar_list a {
    text-decoration: none;
    color: #757575;
}

.Sidebar_list a:hover {
    background-color: #202947;
}

.single_item {
    padding-left: 10px !important;
}

.icon_down {
    fill: #b2b8c7 !important
}


.icon_items {
    min-width: 40px !important;
    color: #b2b8c7;
}

.icon_items svg {
    fill: #b2b8c7;
}

.text_items span {
    font-size: 0.9em;
    color: #b2b8c7;
    font-family: "Poppins", serif !important;
}

table tr td,
table tr th {
    padding: 8px 10px !important;
    font-size: 12px !important;
}

table tr td {
    color: #6d6b77 !important;
    font-weight: 500 !important;
}

table tr th {
    color: #444050 !important
}

.custom_dropdown .dropdown-toggle::after {
    display: none;
}

.custom_dropdown .btn {
    background: none;
    color: #6d6b77;
    border: none;
    padding: 0;
}

.custom_dropdown .btn:hover,
.custom_dropdown .btn.show {
    background: none !important;
    color: #6d6b77;
    border: none;
}

.custom_dropdown .dropdown-menu {
    padding: 5px;
}

.custom_dropdown .dropdown-menu a{
    padding: 8px;
    border-radius: 5px;
}


.custom_pagination p {
    margin-bottom: 0 !important;
}

.collapsed {
    width: 52px;
}

.collapsed .logo {
    visibility: hidden;
}

.expanded {
    width: 250px;
}

.togglebtn {
    cursor: pointer;
    color: #757575;
    text-align: right;
    display: block;
    position: fixed;
    left: 10px;
    top: 16px;
    z-index: 9;
}

.custom_modal {
    background: #ececec !important;
}

.custom_heading_modal {
    font-size: 16px !important;
    padding: 10px;
    margin-bottom: 0 !important;
    text-transform: uppercase;
    color: #000;
    font-family: "Poppins", serif !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.loginMain {
    height: calc(100vh - 30px);
    font-weight: 500;
}

.loginMain h1 {
    font-weight: 600;
}

.loginMain .form-control {
    border-radius: 10px;
    padding: 12px 15px;
    font-size: 14px;
    background-color: #fff4f3;

}